#calculator{
    margin-top: 50px;
    border: 2px solid rgb(76, 75, 75);
    height: 450px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px grey;

}



.but{
    height: 50px;
    width: 50px;
    margin: 5px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 20px;
   
}
